@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');


/*För webbläsare på dator*/
body {
    background-image: url(images/kramas-zoom.JPG);
    background-size: contain;
    background-attachment: fixed;
    background-position: center -250px;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.content {
    width: 100vw auto;
    margin-top: 30vw;
    background-color: white;
    border-radius: calc(2vw);
    padding-top: calc(100vh / 85);
    padding-bottom: calc(100vh / 85);
    box-shadow: 0 -30px 60px rgba(0, 0, 0, .7);
    text-align: center;
    display: grid;
    position: relative;
    top: 50vh;
    place-content: center;
}

.banderoll {
    width: 100vw auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    position: sticky;
    top: 0;
}

h1 {
    text-align: center;
    color: black;
    font-size: 3vw;
    font-family: "MonteCarlo", cursive;
    font-weight: 90;
    align-items: center;
}

p1 {
    text-align: center;
    font-size: 3vw;
    font-family: "MonteCarlo", cursive;
}

p2 {
    text-align: center;
    font-size: 25px;
    font-family: "MonteCarlo", cursive;
}

p {
    text-align: center;
    margin: 8px;
}

.grid-container {
    background-color: white;
    width: 90vw;
    display: grid;
    place-items: center;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.grid-item {
    background-color: rgb(255, 255, 255);
    width: 38vw;
    padding-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    border-radius: 5px;
}

.grid-item:hover {
    background-color: azure;
    width: 38vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

button {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;
    border-color: rgb(247, 247, 247);
}

button:hover {
    background-color: azure;
    border-radius: 0;
}

.form-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topButton {
    background-color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.topButton:hover {
    background-color: azure;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.clean-sqare-button {
    text-decoration: none;
}

button-top {
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.blockImg {
    width: inherit;
}

/*==========================================================*/

@media (max-width: 768px) {

    body {
        background-image: url(images/kramas-zoom.JPG);
        background-size: contain;
        background-attachment: fixed;
        background-position: center -30px;
        background-repeat: no-repeat;
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
        background-color: white;
        color: black;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .content {
        background-color: rgb(255, 249, 249);
        border-radius: 0;
        box-shadow: 0 -10px 20px rgba(0, 0, 0, .4);
        display: flex;
        margin-top: 0;
        min-height: 120vh;
        padding-bottom: 0;
        padding-top: 0;
        place-content: top center;
        place-items: top center;
        position: relative;
        text-align: center;
        top: 270px;
        width: 100vw auto;
        z-index: 0;
    }

    .floating-img-l {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 140px;
        height: auto;
        z-index: 1;
    }

    .floating-img-r {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 140px;
        height: auto;
        z-index: 1;
    }

    .floating-img1 {
        position: absolute;
        place-self: center;
        bottom: 0;
        width: 50vw;
        height: auto;
        z-index: 1;
    }

    .header {
        position: absolute;
        place-self: center;
        margin: 0;
        top: 70px;
    }

    h1 {
        font-size: 10vw;
        font-weight: 90;
    }

    p1 {
        font-size: 35px;
        margin: 0;
        padding: 0;
    }

    p2 {
        font-size: 30px;
        margin-top: 0;
        padding: 0;
    }

    p {
        font-size: 5vw;
    }

    .grid-container {
        place-self: center;
    }

    .grid-item {
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(255, 255, 255);
        width: 38vw;
        padding-bottom: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .6);
        border-radius: 5px;
    }

    button {
        font-size: 5vw;
        margin: 0;
    }

    .menu-container {
        place-self: top center;
        position: fixed;
        background-color: rgb(255, 249, 249);
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        width: 100vw;
        height: 54px;
        text-decoration: none;
        top: 0;
        z-index: 5;
    }

    .menu-button {
        background-color: rgb(255, 249, 249);
        border-radius: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0);
        font-size: 30px;
        max-height: inherit;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        place-self: left;
        position: absolute;
        size: inherit - 1;
        text-decoration: none;
        color: black;
    }

    .osa-button {
        background-color: rgb(255, 249, 249);
        border-radius: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, .7);
        margin-top: 50px;
    }

    button {
        background-color: rgb(255, 249, 249);
        border-radius: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, .7);
    }

    .initialer {
        font-family: "MonteCarlo", cursive;
        font-size: 30px;
        margin: 0;
    }

    .side-menu {
        background-color: white;
        padding-top: 20px;
        position: fixed;
        top: 0;
        left: -250px;
        padding-top: 5px;
        transition: left 0.3s ease;
        overflow-y: auto;
        width: 50vw;
        height: 100vh;
        margin: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, .4);
        text-decoration: none;
        z-index: 100;
    }

    .topButton {
        width: inherit;
        border-radius: 0;
        font-size: 20px;
        color: black;
        background-color: white;
        padding: 10px;
        padding-top: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
    }

    .textContainer {
        border-top: 1px solid black;
        font-size: 12px;
        margin-bottom: 0;
        place-self: center;
        place-content: center;
        place-items: center;
        width: 75vw;
        height: 10px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
        display: none;
    }

    .filler {
        position: absolute;
        place-self: bottom;
        bottom: 0;
        height: 20vh;
        width: 20vh;
        border: 1px solid red;
    }
}