@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');


/*För webbläsare på dator*/


/*För stående smartphone*/

@media (max-width: 768px) {

    html {
        scroll-behavior: smooth;
    }

    a {
        color: black;
        text-decoration: none;
    }

    body {
        background-image: url(images/kramas_blomma.jpg);
        background-size: contain;
        background-attachment: fixed;
        background-size: cover;
        background-position: center -400px;
        background-repeat: no-repeat;
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
        background-color: transparent;
        color: black;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .banderoll {
        width: 100vw auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        position: sticky;
        top: 0;
    }

    .content {
        align-items: center;
        background-color: white;
        border-radius: 0;
        box-shadow: 0 -10px 20px rgba(0, 0, 0, .4);
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 10px;
        min-height: 200vh;
        padding-bottom: 0;
        padding-top: 0;
        place-content: top center;
        place-items: top center;
        position: relative;
        text-align: center;
        top: 270px;
        width: 100vw auto;
        z-index: 0;
    }

    .centrerad_text {
        max-width: 70vw;
        text-align: center;
    }

    .ocentrerad_text {
        max-width: 70vw;
        text-align: left;
    }

    .floating-img-l {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 140px;
        height: auto;
        z-index: 1;
    }

    .floating-img-r {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 140px;
        height: auto;
        z-index: 1;
    }

    .floating-img1 {
        position: relative;
        bottom: 0px;
        width: 50vw;
        height: auto;
        z-index: 1;
    }

    form {
        max-height: 0; /* Dölj formuläret initialt */
        overflow: hidden; /* Dölj innehåll utanför den synliga ytan */
        transition: max-height 1.0s ease-out; /* Lägg till en mjuk rull-effekt */
        display: flex;
        flex-direction: column;
        border: none;
        border-top: solid 3px rgb(212, 162, 186);
        max-width: 80vw;
        text-align: left;
        padding: 20px;
        padding-left: 70px;
        padding-right: 70px;
        border-radius: 0;
        background-color: white;
    }

    #osa_form.open {
        max-height: 200vw; 
        padding: 15px;
    }

    #spex_form.open {
        max-height: 200vw; 
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        background-color: whitesmoke;
        border: none;
        border-bottom: solid 3px rgb(212, 162, 186);
        border-radius: 0;
        font-size: 15px;
        padding: 5px;
    }

    input {
        margin-bottom: 10px;
    }

    input::placeholder {
        color: black;
    }

    input:focus {
        outline: 2px solid #bbdcff;
        background-color: rgb(242, 250, 255);
    }

    .header {
        position: relative;
        text-align: center;
    }

    h1 {
        padding-top: 50px;
        padding-bottom: 0;
        margin: 0;
        align-items: center;
        position: relative;
        color: black;
        font-family: "MonteCarlo", cursive;
        font-size: 10vw;
        font-weight: 90;
        text-align: center;
    }

    h2 {
        font-family: "MonteCarlo", cursive;
        font-weight: 90;
        font-size: 35px;
        text-align: center;
        text-decoration: none;
        padding: 0;
        margin-bottom: 0;
    }

    .section_block {
        width: 80vw;
        min-width: 80vw;
        max-width: 80vw;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
        border: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 5px;
        width: 90%;
        text-align: center;
        align-items: center;
        text-decoration: none;
    }

    section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .subtitle {
        margin: 0;
        font-family: "MonteCarlo", cursive;
        font-size: 35px;
        padding: 0;
        text-align: center;
    }

    p2 {
        position: relative;
        font-family: "MonteCarlo", cursive;
        font-size: 30px;
        margin-top: 0;
        padding: 0;
        text-align: center;
    }

    p {
        position: relative;
        font-size: 5vw;
        margin: 8px;
        text-align: center;
    }

    #preloader {
        height: 150vh;
        width: 100vw;
        background-color: white;
        display: flex;
        top: -200px;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 100;
    }

    #preloader-icon {
        width: 100px;
        height: auto;
        animation: pulse 0.4s infinite;
    }

    #funbo_kyrka {
        height: auto;
        width: 80vw;
    }

    #länna_gård {
        height: auto;
        width: 80vw;
    }

    #kostymer {
        height: auto;
        width: 80vw;
    }

    #pastell {
        height: auto;
        width: 80vw;
    }

    #funbo_karta {
        height: auto;
        width: 80vw;
    }

    #länna_karta {
        height: auto;
        width: 80vw;
    }

    #valv_tittar {
        height: auto;
        width: 80vw;
    }

    button:hover {
        background-color: azure;
        border-radius: 0;
    }

    .menu-container {
        place-self: top center;
        position: fixed;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        width: 100vw;
        height: 54px;
        text-decoration: none;
        top: 0;
        z-index: 5;
    }

    button {
        padding: 1px;
        border-style: solid;
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        background-color: white;
        border-radius: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, .7);
        color: black;
        text-decoration: none;
        border-color: transparent;
    }

    .menu-button {
        background-color: white;
        border-radius: 0;
        border-color: transparent;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0);
        font-size: 30px;
        max-height: inherit;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        place-self: left;
        position: absolute;
        size: inherit - 1;
        text-decoration: none;
        color: black;
        z-index: 2;
    }

    #osa_button.open {
        max-height: 0;
        overflow: hidden;
    }

    #spex_button.open {
        max-height: 0;
        overflow: hidden;
    }

    .send-button {
        background-color: white;
        border-radius: 0;
        border-style: outset;
        border-color: rgb(212, 162, 186);
        box-shadow: 0 0 3px rgba(0, 0, 0, .2);
        color: black;
        padding: 5px;
        font-size: 20px;
        text-decoration: none;
    }

    .osa-button {
        background-color: rgb(255, 249, 249);
        border-radius: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, .7);
        margin-top: 50px;
        color: black;
        padding: 0;
        text-decoration: none;
    }

    .initialer {
        font-family: "MonteCarlo", cursive;
        font-size: 30px;
        margin: 0;
    }

    .section_container {
        background-color: rgb(255, 255, 255);
        border-color: red;
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 10px;
        padding: 10px;
        width: 90%;
        text-align: center;
        text-decoration: none;
    }

    .side-menu {
        background-color: white;
        position: fixed;
        top: 0;
        left: -250px;
        gap: 10px;
        padding-left: 20px;
        transition: left 0.3s ease;
        overflow-y: auto;
        width: 50vw;
        height: 100vh;
        margin: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, .4);
        text-decoration: none;
        font-size: 20px;
        z-index: 100;
    }

    .topButton {
        width: inherit;
        border-radius: 0;
        font-size: 20px;
        color: black;
        background-color: white;
        padding: 10px;
        padding-top: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
    }

    .text_container {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid black;
        font-size: 12px;
        margin-bottom: 0;
        place-self: center;
        place-content: center;
        place-items: center;
        text-align: center;
        width: 75vw;
        height: 10px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
        display: none;
    }

    .filler {
        position: absolute;
        place-self: bottom;
        bottom: 0;
        height: 20vh;
        width: 20vh;
        border: 1px solid red;
    }

    label {
        font-size: 20px;
        font-weight: bold;
    }

    .radio {
        color: rgb(83, 55, 68);
        display: block;
        width: 100%; /* Fyll hela bredden av sidan */
        text-align: left; /* Justera innehållet till vänster */
    }
    

    .nav_button {
        padding: 20px;
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        /* Ursprunglig storlek */
    }

    50% {
        transform: scale(1.2);
        /* Förstoras något */
    }
}